<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{65,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,130},{63,59}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,248},{63,51}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,442},{63,37}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{63,37}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,570},{63,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{63,21}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{63,11}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{63,11}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,514},{63,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{63,29}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{61,41}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{61,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{61,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{61,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,717},{61,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{61,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,593},{61,61}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,656},{61,59}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,778},{61,51}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{61,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{61,39}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{61,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,545},{63,23}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{63,23}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,132},{63,7}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{63,7}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,67},{63,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{63,19}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,481},{63,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{63,31}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,399},{63,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{63,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,352},{63,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{63,45}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,301},{63,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{63,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,191},{63,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{63,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>a0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,67},{63,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>pig1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{422,276}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{422,276}}</string>
                <key>sourceSize</key>
                <string>{432,290}</string>
            </dict>
            <key>pig2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,276}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{422,276}}</string>
                <key>sourceSize</key>
                <string>{432,290}</string>
            </dict>
            <key>zhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{422,256}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{422,256}}</string>
                <key>sourceSize</key>
                <string>{432,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>US_pig.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da7a53e2709bb918ae21ccca5a67043c:1/1$</string>
            <key>textureFileName</key>
            <string>US_pig.png</string>
        </dict>
    </dict>
</plist>
